<div id="question-<%=question.id%>">
  <div>
    Question: <%= question.description %>
  </div>
  <div>
    Answer: <%= question.answer %>
  </div>
  <div>
    <%= link_to "edit", "#" %>
    <%= link_to "delete", question_path(question.id), method: :delete, remote: true %>
  </div>
</div>
<br />
