<h2>Add Questions</h2>

<%= form_for [:mentoring, question], remote: true do |f| %>
  <div class="">
    <%= f.text_field :description, placeholder: "Enter a Question", id: "new-question-description" %>
  </div>
  <div class="">
    <%= f.text_area :answer, placeholder: "Answer to Question", id: "new-question-answer" %>
  </div>
  <%= f.hidden_field :appointment_id, value: appointment.id %>
  <%= f.hidden_field :student_id, value: student.id %>
  <%= f.hidden_field :type, value: "question", id: "new-question-hidden-type" %>
  <div class="">
    <%= f.submit "Add", id: "new-question-button" %>
  </div>
<% end %>
