<h1>Appointment <%= @appointment.id %></h1>
<div>
  <%= link_to "Edit", edit_student_appointment_path(@appointment.student.id, @appointment.id) %>
  <%= link_to "Delete", student_appointment_path(@appointment.student.id, @appointment.id), method: :delete %>

  <%= link_to "Back", student_appointments_path(@appointment.student.id) %>
</div>
<div>
  <%= render partial: 'questions/question', collection: @questions %>
</div>
